.hand {
  cursor: pointer;
  user-select: none;
}

.sidenav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: auto;
  right: -2px;
  overflow: hidden;
  opacity: 1;
  padding-top: 50px;
  transition: width 0.25s cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.navopen {
  width: 400px;
}
.navclose {
  width: 0px;
}

.product-title::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #eabf00;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

.filter {
  height: 50px;
  width: 50px;
}
